.cp-tabs {
  .nav-tabs {
    border: none;
    font-weight: 500;
    font-size: 1.2rem;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .nav-item {
      .nav-link {
        padding: 1rem 2rem 1rem 0;
        border: none;
        color: $gray-300;
        text-decoration: none;
        background: none;
        border-radius: 0;
        white-space: nowrap;

        &.active {
          color: $white;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .nav-tabs {
      margin: 0 calc(#{$container-gutter} * -0.5) 2rem;
      padding: 0 calc(#{$container-gutter} * 0.5);
      border: 1px solid $gray-300;
      border-width: 1px 0;
      overflow: auto;

      ul {
        display: inline-flex;
      }

      .nav-item {
        .nav-link {
          padding: 1rem 2rem 1rem 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .nav-tabs {
      ul {
        width: 100%;
      }

      .nav-item {
        margin: 0 0 -1px;

        .nav-link {
          padding: 1.5rem 0;
          border: 1px solid $gray-300;
          border-width: 1px 0;
          white-space: unset;

          &.active {
            border-color: $white;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-tabs {
      font-size: 1.5rem;

      .nav-item {
        .nav-link {
          padding: 1.72rem 0;
        }
      }
    }
  }
}

.bg-white {
  .cp-tabs {
    .nav-tabs {
      .nav-item {
        .nav-link {
          color: $gray-300;

          &.active {
            color: $dark;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      .nav-tabs {
        .nav-item {
          .nav-link {
            border-color: $gray-300;

            &.active {
              border-color: $dark;
            }
          }
        }
      }
    }
  }
}
