.block-intro {
  padding: 22vh 0;

  hr {
    max-width: 240px;
    margin: 0 0 4rem;
  }

  h2 {
    margin: 0 0 4rem;
  }

  @include media-breakpoint-down(xl) {
    padding: 200px 0;
  }

  @include media-breakpoint-down(lg) {
    padding: 150px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 100px 0;
  }
}
