.block-steps {
  padding: 22vh 0;

  .row {
    --bs-gutter-y: 7.5rem;
    & > div {
      &:nth-child(3n + 2),
      &:nth-child(3n + 3) {
        @extend .offset-lg-1;
      }
    }
  }

  .icon {
    display: block;
    padding: 0 0 1.5rem;
    margin: 0 0 1.5rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    font-size: 5rem;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("../images/bg/bg-num.svg");
    color: transparent;
    font-weight: 500;

    .counter1 {
      &:after {
        content: counter(count);
        counter-reset: count 0;
      }

      &.in-view {
        &:after {
          animation: counter1 1s linear forwards;
        }
      }

      @keyframes counter1 {
        0% {
          counter-increment: count 0;
        }
        100% {
          counter-increment: count 1;
        }
      }
    }

    .counter2 {
      &:after {
        content: counter(count);
        counter-reset: count 0;
      }

      &.in-view {
        &:after {
          animation: counter2 2s linear forwards;
        }
      }

      @keyframes counter2 {
        0% {
          counter-increment: count 0;
        }
        50% {
          counter-increment: count 1;
        }
        100% {
          counter-increment: count 2;
        }
      }
    }

    .counter3 {
      &:after {
        content: counter(count);
        counter-reset: count 0;
      }

      &.in-view {
        &:after {
          animation: counter3 3s linear forwards;
        }
      }

      @keyframes counter3 {
        0% {
          counter-increment: count 0;
        }
        33% {
          counter-increment: count 1;
        }
        66% {
          counter-increment: count 2;
        }
        100% {
          counter-increment: count 3;
        }
      }
    }

    .counter4 {
      &:after {
        content: counter(count);
        counter-reset: count 0;
      }

      &.in-view {
        &:after {
          animation: counter4 4s linear forwards;
        }
      }

      @keyframes counter4 {
        0% {
          counter-increment: count 0;
        }
        25% {
          counter-increment: count 1;
        }
        50% {
          counter-increment: count 2;
        }
        75% {
          counter-increment: count 3;
        }
        100% {
          counter-increment: count 4;
        }
      }
    }

    .counter5 {
      &:after {
        content: counter(count);
        counter-reset: count 0;
      }

      &.in-view {
        &:after {
          animation: counter5 5s linear forwards;
        }
      }

      @keyframes counter5 {
        0% {
          counter-increment: count 0;
        }
        20% {
          counter-increment: count 1;
        }
        40% {
          counter-increment: count 2;
        }
        60% {
          counter-increment: count 3;
        }
        80% {
          counter-increment: count 4;
        }
        100% {
          counter-increment: count 5;
        }
      }
    }
  }

  p {
    margin: 0;
  }

  .buttons {
    padding: 1.5rem 0 0;
  }

  @include media-breakpoint-down(xl) {
    padding: 200px 0;

    .row {
      --bs-gutter-y: 4rem;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 150px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 100px 0;

    .row {
      --bs-gutter-y: 3rem;
    }
  }
}
