input,
select,
textarea,
button {
  font-family: $font-family-base;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-size: $font-size-base;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: $white;

  @include media-breakpoint-down(md) {
    font-size: 0.875rem;
  }
}

h1 {
  font-family: $font-family-headlines;
  font-size: clamp($h1-font-size-sm, 3.47vw, $h1-font-size);
  line-height: normal;
  margin: 0;
  letter-spacing: 0;
}

h2 {
  font-family: $font-family-headlines;
  font-size: clamp($h2-font-size-sm, 1.85vw, $h2-font-size);
  line-height: normal;
  margin: 0;
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
  }
}

h3 {
  font-family: $font-family-headlines;
  font-size: clamp($h3-font-size-sm, 1.62vw, $h3-font-size);
  line-height: normal;
  margin: 0;
  letter-spacing: 0;
}

h4 {
  font-size: $h4-font-size;
  line-height: normal;
  margin: 0;
  font-weight: 500;

  @include media-breakpoint-up(lg) {
  }
}

small {
  font-size: 0.75em;
  line-height: 1.4;
  display: inline-block;
}

.subheadline {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1;
  padding: 0 0 0.6rem;
  color: $gray-300;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 1px;
    background-color: $gray-300;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }
}

.bg-white {
  .subheadline {
    &:before {
      background-color: $dark;
    }
  }
}
